<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>智慧選股</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/grayscale.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">智慧選股</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">簡介</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">坡段 ＆ 當沖</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">訂閱</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">股票的世界</h1>
        <h2 class="text-white-50 mx-auto mt-4 mb-5">理性分析坡段選股 ＆ 日內坡的人性當沖</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger"><div style="font-size:15px;">了解我們</div></a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">關於智慧選股系統</h2>
          <p class="text-white-50">想從茫茫股海中找出能夠發大財的股票嗎？交給絕對理性的智慧選股系統就能為您辦到。<br>我們使用技術面來分析指定股票坡段上的進場及出場位置<br>還提供較積極的交易者一些當沖的策略與標的。</p>
        </div>
      </div>
      <img src="{{url_for('static',filename='img/ipad2.png')}}" class="img-fluid" alt="">
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{{url_for('static',filename='img/bg-masthead.jpg')}}" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>投資心態</h4>
            <p class="text-black-50 mb-4">建議還在迷茫的朋友們看看以下的心法
              <br>1.儘管學藝在精，重要的還是搞懂最初衷的觀念。
              <br>2.順勢而為，利潤自然而生。
              <br>3.活在過去的失敗沒有意義，找出適合自己的交易模式。
              <br>4.身為散戶的我們要做的就是：『不斷嘗試，不要被市場淘汰』</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{url_for('static',filename='img/demo-image-01.jpg')}}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <a href="{{ url_for('bsp')}}"><h2 class="text-white">坡段選股</h2></a>
                <p class="mb-0 text-white-50">使用一些基本策略及進階策略<br>作為投資人判斷個股在坡段進場以及出場的參考。</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{url_for('static',filename='img/demo-image-02.jpg')}}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                  <a href="{{ url_for('dtss')}}"><h2 class="text-white">空軍策略中心</h2></a>
                <p class="mb-0 text-white-50">筆者在經過前輩們的教導後<br>使用程式開發出兩個相對穩定的獲利方式<br>1.盤中人性當沖<br>2.開盤送分題</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-4 text-white"></i>
          <h2 class="text-white mb-5">訂閱並接收最新資訊！</h2>
          <a href="{{ url_for('login')}}"><div style="font-size:20px;"><button class="btn btn-primary js-scroll-trigger" type='submit'>訂閱</button></div></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">地址</h4>
              <hr class="my-2">
              <div class="small text-black-50">高雄市楠梓區卓越路二號</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">電子信箱</h4>
              <hr class="my-2">
              <div class="small text-black-50">
                <div class="small text-black-50">appleipod43c@gmail.com</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">手機</h4>
              <hr class="my-2">
              <div class="small text-black-50">0973381251</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="https://www.instagram.com/solomon_3206/?hl=en" class="mx-2">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC94IQUfblg_dtLPk0bhPoOw?view_as=subscriber" class="mx-2">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://github.com/pagggggg" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Project create by Solomon.
      <br>
      透過本程式獲得之資訊僅作為投資人參考，非供投資人之投資買賣建議，基於前開資料之任何交易或投資決定，投資人須自負風險及盈虧，本程式亦不負本任何責任。
      <br>本作者權對人所有經由本程式傳送之資訊之正確性與適用性均不負擔任何責任。
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{url_for('static',filename='js/grayscale.min.js')}}"></script>

</body>

</html>
